<% if (!user) { %>
  <div>
    <p>
      You are not logged in!
      <a href='/register'>Register</a> or <a href='/login'>Login</a>
    </p>
  </div>
<% } else { %>
  <div>
    <p>
      You are logged in as <%= user.email %>
      <form action='/logout' method='POST'>
        <button type='submit'>Logout</button>
      </form>
    </p>
  </div>
<% } %>
