<p>
  <button><a href='/register'>Register</a></button>
  <button><a href='/login'>Login</a></button>

  <form action='/logout' method='POST'>
    <button type='submit'>Logout</button>
  </form>
</p>
