<!-- <form action="/login" method="POST">

  <% if (!username) { %>

    <input name="login" type="text" id="usrLogin" placeholder="name='username'">
    <input type="submit" value="Submit">

  <% } else { %>

    <h1><%= username %></h1>

    <input name="login" type="text" id="usrLogin" placeholder="name='username'" required>
    <input type="submit" value="Submit">

  <% } %>

</form> -->

<% if (!username) { %>

  <form action="/login" method="POST">

    <input name="login" type="text" id="usrLogin" placeholder="name='username'">
    <input type="submit" value="Submit">

  </form>
  <% } else { %>

  <h1><%= username %></h1>

  <form action="/logout" method="POST">

    <input type="submit" value="logout">

  </form>

<% } %>