<header>
  <% include partials/_header %>
</header>

<h1>Welcome to the <em>Login</em> page</h1>
<p><small>If you're not a registered <em>user</em>, make sure to <b><u><a href = "/register">register, first!</a></u></b></small></p>

<form action="/login" method="POST">

  <input type="email" name="email" placeholder="Enter your email address" style = "width: 200px;">
  <input type="password" name="password" placeholder="Enter your password" style = "width: 200px;">
  <input type="submit" value="Login">

</form>
