<header>
  <% include partials/_header %>
</header>

<body>

  <form action='/register' method='POST'>
    <p>
      User ID:
      <input name='userID' id='userID' placeholder='User ID'>
      <input type='submit'>
    </p>
    <p>
      User Email:
      <input name='userEmail' id='userEmail', placeholder='Email'
        type='email'>
      <input type='submit'>
    </p>
    <p>
      User Password:
      <input name='userPass' id='userPass' placeholder='Password'>
      <input type='submit'>
    </p>
    <button>
      Register
    </button>
  </form>


</body>
