<header>
  <% include partials/_header %>
</header>

<body>

  <form action='/register'>
    <p>
      User ID:
      <input name='userID' id='userID' placeholder='User ID'>
    </p>
    <p>
      User Password:
      <input name='userPass' id='userPass' placeholder='Password'>
    </p>
    <button>
      Register
    </button>
  </form>


</body>
