<div class='home-title'>
  <h1>Welcome to <code>TinyApp</code></h1>
</div>

<div class='home-description-about'>
  <p>
    At TinyApp, come and population all your favourite URL's using
    an RESTful API created in NodeJS (using the Express framework), with the
    following features,
  </p>
  <ul>
    <li>User registration</li>
    <li>User login/logout</li>
    <li>...</li>
  </ul>
</div>
