<!DOCTYPE html>

<html lang="en">

  <head>

      <meta charset="utf-8">
      <title>Update <code>URL</code></title>

  </head>


  <body>

      <header>
        <p>Update <code>URL</code> for <code>URL</code> ID <%= shortURL %></p>

      </header>

      <form action = "/urls/<%= shortURL %>/update" method = "POST" style = "display: inline-block; margin-left: 15px;">
        <input name = "updateURL" type = "text" id = "updateURL" placeholder = "http://" value = "<%= longURL %>">
        <input type = "submit" value = "Update URL">
      </form>

  </body>


</html>